<!DOCTYPE html>
<html class="no-js"  dir="ltr" lang="en-US">
<head>
	 <meta charset="utf-8" />	
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    		<%= favicon_link_tag "/assets/logo.png", rel: 'icon', type: 'image/png' %>
		 
         
  <title>RYZIL</title>
  <meta content="Are you looking for best medical services than please contact us.Read more on Ryzil Pharmaceuticals pvt. ltd.!" name="description">
  <meta name="author" content="Ryzil Pharmaceuticals" />
  <meta name="keywords" content="Ryzil,ryzil,Pharmaceuticals,pharmaceuticals,medical,moradabad,medicine,rathi,shubham,hospital" />
  <meta name="revisit-after" content="7 days" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?key=AIzaSyD4CMpWcF6Huu6laEsNUtxHdOvETKH_xwY', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield %>







